<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moji Eventi</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            padding: 20px;
        }
        .container {
            margin-top: 50px;
        }
        .navbar {
            margin-bottom: 20px;
        }
        .btn-delete {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
        }
        .btn-delete:hover {
            background-color: #c82333;
            border-color: #bd2130;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Event Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/organizator/1">Profil</a> <!-- promijeniti ovo -->
            </li>

        </ul>
    </div>
</nav>

<div class="container">
    <h1 class="text-center">Moji Eventi</h1>

    <!-- Tabela sa eventima -->
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Naziv</th>
                <th>Opis</th>
                <th>Datum</th>
                <th>Cijena</th>
                <th>Status</th>
                <th>Lokacija</th>
                <th>Tip</th>
                <th>Akcija</th>
            </tr>
            </thead>
            <tbody>
            <% eventi.forEach(function(event) { %>
                <tr>
                    <td><%= event.naziv %></td>
                    <td><%= event.opis %></td>
                    <td><%= event.datum %></td>
                    <td><%= event.cijena %></td>
                    <td><%= event.status %></td>
                    <td><%= event.mjesto %></td>
                    <td><%= event.tip %></td>
                    <td>
                        <!-- Dugme za brisanje -->
                        <form action="/organizator/delete-event/<%= event.id %>" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-delete btn-sm">Delete</button>
                        </form>

                        <!-- Dugme za uređivanje koje otvara modal -->
                        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editModal<%= event.id %>">Uredi</button>

                        <!-- Novo dugme za pregled detalja -->
                        <a href="/organizator/event/<%= event.id %>" class="btn btn-info btn-sm">Pogledaj Detalje</a>

                        <!-- Modal za uređivanje -->
                        <div class="modal fade" id="editModal<%= event.id %>" tabindex="-1" role="dialog" aria-labelledby="editModalLabel<%= event.id %>" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel<%= event.id %>">Uredi Event</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/organizator/update-event/<%= event.id %>" method="POST">
                                            <div class="form-group">
                                                <label for="naziv<%= event.id %>">Naziv</label>
                                                <input type="text" class="form-control" id="naziv<%= event.id %>" name="naziv" value="<%= event.naziv %>" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="opis<%= event.id %>">Opis</label>
                                                <textarea class="form-control" id="opis<%= event.id %>" name="opis" required><%= event.opis %></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="datum<%= event.id %>">Datum</label>
                                                <input type="date" class="form-control" id="datum<%= event.id %>" name="datum" value="<%- event.datum %> "required>
                                            </div>
                                            <div class="form-group">
                                                <label for="cijena<%= event.id %>">Cijena</label>
                                                <input type="number" class="form-control" id="cijena<%= event.id %>" name="cijena" value="<%= event.cijena %>" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="status<%= event.id %>">Status</label>
                                                <select class="form-control" id="status<%= event.id %>" name="status" required>
                                                    <option value="aktivan" <%= event.status === 'aktivan' ? 'selected' : '' %>>Aktivan</option>
                                                    <option value="otkazan" <%= event.status === 'otkazan' ? 'selected' : '' %>>Otkazan</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="lokacija<%= event.id %>">Lokacija</label>
                                                <select class="form-control" id="lokacija<%= event.id %>" name="id_lokacije" required>
                                                    <% lokacije.forEach(function(lokacija) { %>
                                                        <option value="<%= lokacija.id %>" <%= event.id_lokacije === lokacija.id ? 'selected' : '' %>><%= lokacija.mjesto %>, <%= lokacija.grad %>, <%= lokacija.ulica %></option>
                                                    <% }) %>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="tip<%= event.id %>">Tip</label>
                                                <select class="form-control" id="tip<%= event.id %>" name="id_tipa" required>
                                                    <% tipovi.forEach(function(tip) { %>
                                                        <option value="<%= tip.id %>" <%= event.id_tipa === tip.id ? 'selected' : '' %>><%= tip.naziv_tipa %></option>
                                                    <% }) %>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Spremi</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>

    <!-- Forma za dodavanje novog eventa -->
    <h2 class="text-center mt-5">Dodaj Novi Event</h2>
    <form action="/organizator/dodaj-event" method="POST">
        <div class="form-group">
            <label for="naziv">Naziv</label>
            <input type="text" class="form-control" id="naziv" name="naziv" placeholder="Unesite naziv eventa" required>
        </div>
        <div class="form-group">
            <label for="opis">Opis</label>
            <textarea class="form-control" id="opis" name="opis" rows="3" placeholder="Unesite opis eventa" required></textarea>
        </div>
        <div class="form-group">
            <label for="datum">Datum</label>
            <input type="date" class="form-control" id="datum" name="datum" required>
        </div>
        <div class="form-group">
            <label for="cijena">Cijena</label>
            <input type="number" class="form-control" id="cijena" name="cijena" placeholder="Unesite cijenu eventa" required>
        </div>
        <div class="form-group">
            <label for="lokacija">Lokacija</label>
            <select class="form-control" id="lokacija" name="lokacija" required>
                <% lokacije.forEach(function(lokacija) { %>
                    <option value="<%= lokacija.id %>"><%= lokacija.mjesto %></option>
                <% }) %>
            </select>
        </div>
        <div class="form-group">
            <label for="tip">Tip</label>
            <select class="form-control" id="tip" name="tip" required>
                <% tipovi.forEach(function(tip) { %>
                    <option value="<%= tip.id %>"><%= tip.naziv_tipa %></option>
                <% }) %>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Dodaj Event</button>
    </form>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
