<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventi</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #1c1c1c;
            color: #ffffff;
        }

        header {
            background-color: #000;
            padding: 20px 0;
            text-align: center;
        }

        header h1 {
            font-size: 36px;
            color: #f15a24;
        }

        nav {
            display: flex;
            justify-content: start;
            text-align: center;
            margin: 20px 0;
        }

        nav a {
            color: #ffffff;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }

        nav a:hover {
            color: #f15a24;
        }

        main {
            text-align: center;
            padding: 50px 20px;
        }

        h1,
        h2 {
            color: #f15a24;
        }

        .card-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .card {
            width: 60%;
            margin-bottom: 20px;
            background-color: #333;
            border: 1px solid #f15a24;
        }

        .card-title {
            color: #f15a24;
        }

        .text-muted {
            color: #aaaaaa !important;
        }

        .btn-register {
            background-color: orange;
            color: white;
            border: none;
            border-radius: 8px;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
        }

        .btn-register:hover {
            background-color: darkorange;
        }

        footer {
            background-color: #333;
            padding: 50px 0;
            color: #ffffff;
            text-align: center;
        }

        footer h3 {
            font-size: 32px;
            color: #f15a24;
            margin-bottom: 20px;
        }

        footer p {
            font-size: 16px;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
<header>
    <h1>Feed</h1>
</header>
<nav>
    <a href="/korisnik">
        <i class="fas fa-arrow-left"></i> Povratak
    </a>
</nav>

<main>
    <h1 class="text-center">Preporučeni eventi</h1>
    <div class="filter-sort-container">
        <form action="/organizator/eventi" method="GET" class="form-inline justify-content-center mb-4">
            <div class="form-group mx-sm-3 mb-2">
                <label for="filterTip" class="mr-2">Tip:</label>
                <select class="form-control" id="filterTip" name="tip">
                    <option value="">Svi Tipovi</option>
                    <% tipovi.forEach(function(tip) { %>
                        <option value="<%= tip.id %>"><%= tip.naziv_tipa %></option>
                    <% }) %>
                </select>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="filterStatus" class="mr-2">Status:</label>
                <select class="form-control" id="filterStatus" name="status">
                    <option value="">Svi Statusi</option>
                    <option value="aktivan">Aktivan</option>
                    <option value="otkazan">Otkazan</option>
                </select>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="sortiraj" class="mr-2">Sortiraj po:</label>
                <select class="form-control" id="sortiraj" name="sortiraj">
                    <option value="naziv">Nazivu</option>
                    <option value="datum">Datumu</option>
                    <option value="cijena">Cijeni</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary mb-2">Primijeni</button>
        </form>
    </div>
    <div class="card-wrapper">
        <% recommendedEventi.forEach(function(event) { %>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= event.naziv %></h5>
                    <p class="card-text"><%= event.opis %></p>
                    <p class="card-text"><small class="text-muted">Datum: <%= event.datum %></small></p>
                    <p class="card-text"><small class="text-muted">Lokacija: <%= event.mjesto %></small></p>
                    <p class="card-text"><small class="text-muted">Cijena: <%= event.cijena %> KM</small></p>
                    <form action="prijava-na-event/<%= event.id %>" method="post">
                        <button class="btn btn-register" type="submit"> Prijavi se</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>

    <h2 class="text-center">Najbolje ocijenjeni završeni eventi</h2>
    <div class="card-wrapper">
        <% najbolje_ocijenjeni_zavrseni_eventi.forEach(function(event) { %>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= event.naziv %></h5>
                    <p class="card-text"><%= event.opis %></p>
                    <p class="card-text"><small class="text-muted">Datum: <%= event.datum %></small></p>
                    <p class="card-text"><small class="text-muted">Lokacija: <%= event.mjesto %></small></p>
                    <p class="card-text"><small class="text-muted">Cijena: <%= event.cijena %> KM</small></p>
                    <p class="card-text"><small class="text-muted">Prosječna recenzija: <%= event.prosjek_recenzija %></small></p>
                </div>
            </div>
        <% }) %>
    </div>

    <h2 class="text-center">Najpopularniji eventi</h2>
    <div class="card-wrapper">
        <% najpopularniji_eventi.forEach(function(event) { %>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= event.naziv %></h5>
                    <p class="card-text"><%= event.opis %></p>
                    <p class="card-text"><small class="text-muted">Datum: <%= event.datum %></small></p>
                    <p class="card-text"><small class="text-muted">Lokacija: <%= event.mjesto %></small></p>
                    <p class="card-text"><small class="text-muted">Cijena: <%= event.cijena %> KM</small></p>
                    <p class="card-text"><small class="text-muted">Broj prijava: <%= event.broj_prijava %></small></p>
                    <form action="prijava-na-event/<%= event.id %>" method="post">
                    <button class="btn btn-register" type="submit"> Prijavi se</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>

    <h2 class="text-center"> Možda Vam se svidi</h2>
    <div class="card-wrapper">
        <% eventi.forEach(function(event) { %>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= event.naziv %></h5>
                    <p class="card-text"><%= event.opis %></p>
                    <p class="card-text"><small class="text-muted">Datum: <%= event.datum %></small></p>
                    <p class="card-text"><small class="text-muted">Lokacija: <%= event.mjesto %></small></p>
                    <p class="card-text"><small class="text-muted">Cijena: <%= event.cijena %> KM</small></p>
                    <p class="card-text"><small class="text-muted">Broj prijava: <%= event.broj_prijava %></small></p>
                    <form action="prijava-na-event/<%= event.id %>" method="post">
                        <button class="btn btn-register" type="submit"> Prijavi se</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>
</main>

<footer>
    <h3>EventHub</h3>
    <p>Pridružite se našoj zajednici na društvenim mrežama ili nas kontaktirajte na info@eventhub.com.</p>
    <p>© 2024 EventHub. Sva prava zadržana.</p>
    <div class="icon">
        <span><i class="fab fa-facebook"></i></span>
        <span><i class="fab fa-twitter"></i></span>
        <span><i class="fab fa-instagram"></i></span>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
