<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odabir Interesa</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #1c1c1c;
            color: #ffffff;
        }

        header {
            background-color: #000;
            padding: 20px 0;
            text-align: center;
        }

        header h1 {
            font-size: 36px;
            color: #f15a24;
        }

        main {
            text-align: center;
            padding: 50px 20px;
        }

        main h2 {
            font-size: 48px;
            margin-bottom: 20px;
        }

        .form-check-label {
            font-size: 18px;
            margin-bottom: 10px;
            color: #ffffff;
        }

        button {
            background-color: orange;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
            margin: 10px;
        }

        button:hover {
            background-color: darkorange;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #333;
            padding: 20px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<header>
    <h1>Odabir Interesa</h1>
</header>
<main>
    <div class="container">
        <form action="/korisnik/sacuvaj-interese/<%= novi_id %>" method="POST">
            <div class="form-group">
                <h2>Odaberite Vaše Interese</h2>
                <div id="interesi">
                    <% ponudjeni_tipovi.forEach(function(tip) { %>
                        <div class="form-check" style="display: flex; justify-content: space-between">
                            <label class="form-check-label" for="interes<%= tip.id %>"><%= tip.naziv_tipa %></label>
                            <input class="form-check-input" type="checkbox" id="interes<%= tip.id %>" name="interesi" value="<%= tip.id %>">

                        </div>
                    <% }) %>
                </div>
            </div>
            <button type="submit">Sačuvaj Interese</button>
        </form>
    </div>
</main>
</body>
</html>
