<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Organizatora</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #1c1c1c;
            color: #ffffff;
        }
        header {
            background-color: #000;
            padding: 20px 0;
            text-align: center;
        }
        header h1 {
            font-size: 36px;
            color: #f15a24;
        }
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 20px 0;
        }
        .nav-left {
            display: flex;
            align-items: center;
        }
        .nav-right {
            margin-left: auto;
        }
        nav a {
            color: #ffffff;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }
        nav a:hover {
            color: #f15a24;
        }
        .container {
            margin-top: 50px;
        }
        .form-group label {
            color: #f15a24;
        }
        .form-control {
            background-color: #333;
            border: 1px solid #555;
            color: #ffffff;
        }
        .form-control:focus {
            border-color: #f15a24;
            box-shadow: none;
        }
        button {
            background-color: orange;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
            margin: 10px;
        }
        button:hover {
            background-color: darkorange;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        ul li {
            margin-bottom: 10px;
        }
        ul li form {
            display: inline;
        }
        footer {
            background-color: #333;
            padding: 50px 0;
            color: #ffffff;
            text-align: center;
            margin-top: 50px;
        }

        footer h3 {
            font-size: 32px;
            color: #f15a24;
            margin-bottom: 20px;
        }

        footer p {
            font-size: 16px;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }

        footer .icon {
            margin-top: 20px;
            color: #f15a24;
            font-size: 24px;
        }

        footer .icon span {
            margin: 0 15px;
        }

    </style>
</head>
<body>
<header>
    <h1>Profil Korisnika</h1>
</header>

<nav>
    <div class="nav-left">
        <a href="/korisnik/feed">Feed</a>
        <a href="/korisnik/moji-eventi">Moji eventi</a>
        <form class="form-inline my-2 my-lg-0" action="/korisnik/rezultati-searcha" method="post">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="kljucnaRijec">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="nav-right">
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</nav>

<div class="container">
    <form action="/korisnik/update-profile" method="POST">
        <div class="form-group">
            <label for="ime">Ime</label>
            <input type="text" class="form-control" id="ime" name="ime" value="<%= korisnik.ime %>" required>
        </div>
        <div class="form-group">
            <label for="prezime">Prezime</label>
            <input type="text" class="form-control" id="prezime" name="prezime" value="<%= korisnik.prezime %>" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="<%= korisnik.email %>" required>
        </div>
        <div class="form-group">
            <label for="korisnicko_ime">Korisničko ime</label>
            <input type="text" class="form-control" id="korisnicko_ime" name="korisnicko_ime" value="<%= korisnik.korisnicko_ime %>" required>
        </div>

        <button type="submit">Spremi</button>
    </form>


    <div class="form-group mt-4" >
        <label>Vaši interesi</label>
        <ul>
            <% korisnikovi_interesi.rows.forEach(function(interes) { %>
                <li style="display: flex; justify-content: space-between">
                    <p><%= interes.naziv_tipa %></p>
                    <form action="/korisnik/obrisi-interes" method="POST">
                        <input type="hidden" name="interes_id" value="<%= interes.id %>">
                        <input type="hidden" name="korisnik_id" value="<%= korisnik.id %>">
                        <button type="submit" class="btn btn-danger btn-sm">Obriši</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    </div>


    <div class="form-group">
        <label for="ne_interesi">Dodajte još interesa</label>
        <ul id="ne_interesi">
            <% korisnikovi_ne_interesi.rows.forEach(function(neInteres) { %>
                <li style="display: flex; justify-content: space-between">
                    <p><%= neInteres.naziv_tipa %></p>
                    <form action="/korisnik/dodaj-interes" method="POST">
                        <input type="hidden" name="interes_id" value="<%= neInteres.id %>">
                        <input type="hidden" name="korisnik_id" value="<%= korisnik.id %>">
                        <button type="submit" class="btn btn-success btn-sm">Dodaj</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    </div>
</div>
<footer>
    <h3>EventHub</h3>
    <p>Pridružite se našoj zajednici na društvenim mrežama ili nas kontaktirajte na info@eventhub.com.</p>
    <p>© 2024 EventHub. Sva prava zadržana.</p>
    <div class="icon">
        <span><i class="fab fa-facebook"></i></span>
        <span><i class="fab fa-twitter"></i></span>
        <span><i class="fab fa-instagram"></i></span>
    </div>
</footer>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
